body {
  font-family:'Nimbus Sans L','Helvetica',sans-serif;
  letter-spacing:-5px;
  background:#18f;
  background-size:100%;
  color:#fff;
  margin:0;
  padding:0;
  font-weight:bold;
}

h1, h2, h3, p {
  margin:0;
}

.subhead {
  font-size: .5em;
  color: #FFF
}

.nobreak {
    white-space:pre;
}

.output {
  color: #555555;
}

em, a {
  font-style:normal;
  color:#FFF000;
}

a {
  background:#00BFFF;
  color:#000;
  text-decoration:none;
}

img {
  width:100%;
}

div {
  cursor:pointer;
  cursor:hand;
  position:absolute;
  top:0;
  left:0;
  padding:75px;
  line-height:97%;
}

.center {
  text-align:center;
}

.commalist > span:nth-of-type(even) {
  color: #020067
}

.commalist > span:nth-of-type(odd) {
  color: #331fb1
}

.imageText {
  text-shadow:0 0 5px rgba(0,0,0,0.2);
}

notes {
    display:none;
}
/* normally not good, but ok in context of full screen directional navigation */
:focus {
    outline: 0;
}
